<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layouts/layout :: layout(
            pageContent=~{:: .main-content},
            pageTitle=~{:: title},
            additionalCss=~{::fragment-css}
        )}"
>

<div th:fragment="fragment-css">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</div>

<title>Nouvelle vente</title>

<main class="main-content">
    <h1 class="text-center">Nouvelle vente</h1>
    <div class="row">
        <div class="col">
            <img
                    th:src="@{${'/images/' + auction.itemId + '.png'}}"
                    th:onerror="|this.src='@{/images/default.png}';this.onerror=null;|" width="400" height="400"
            />
        </div>
        <div class="col">
            <form
                    th:action="@{/auctions/sell}"
                    th:method="post"
                    th:object="${auction}"
            >
                <div class="my-2 row">
                    <div class="col-4">
                        <label for="item-name">
                            Article :
                        </label>
                    </div>
                    <div class="col-8">
                        <input
                                type="text"
                                name="itemName"
                                id="item-name"
                                th:field="*{itemName}"
                        />
                    </div>
                </div>
                <div class="my-2 row">
                    <div class="col-4">
                        <label for="item-description">
                            Description :
                        </label>
                    </div>
                    <div class="col-8">
                        <textarea
                                name="description"
                                id="item-description"
                                th:field="*{description}"
                                rows="2"
                                cols="25"
                        ></textarea>
                    </div>
                </div>
                <div class="my-2 row">
                    <div class="col-4">
                        <label for="item-category">
                            Catégorie :
                        </label>
                    </div>
                    <div class="col-8">
                        <select
                                name="category"
                                id="item-category"
                                class="form-select"
                                th:field="*{category}"
                        >
                            <option
                                    th:each="category: ${categoriesSession}"
                                    th:value="${category.categoryId}"
                                    th:text="${category.label}"
                            ></option>
                        </select >
                    </div>
                </div>
                <div class="my-2 row">
                    <div class="col-4">
                        <label for="image-upload">
                            Photo de l'article :
                        </label>
                    </div>
                    <div class="col-8">
                        <input
                                type="file"
                                name="uploaded-image"
                                id="image-upload"
                                class="form-control-file"
                                accept="image/png"
                                disabled
                        >
                    </div>
                </div>
                <div class="my-2 row">
                    <div class="col-4">
                        <label for="item-initial-price">
                            Mise à prix :
                        </label>
                    </div>
                    <div class="col-8">
                        <input
                                type="number"
                                name="initialPrice"
                                id="item-initial-price"
                                th:field="*{initialPrice}"
                        />
                    </div>
                </div>
                <div class="my-2 row">
                    <div class="col-4">
                        <label for="item-start-auction-date">
                            Début de l'enchère :
                        </label>
                    </div>
                    <div class="col-8">
                        <input
                                type="datetime-local"
                                name="startAuctionDate"
                                id="item-start-auction-date"
                                th:field="*{startAuctionDate}"
                        />
                    </div>
                </div>
                <div class="my-2 row">
                    <div class="col-4">
                        <label for="item-end-auction-date">
                            Fin de l'enchère :
                        </label>
                    </div>
                    <div class="col-8">
                        <input
                                type="datetime-local"
                                name="endAuctionDate"
                                id="item-end-auction-date"
                                th:field="*{endAuctionDate}"
                        />
                    </div>
                </div>
<!--                <fieldset class="scheduler-border">-->
<!--                    <legend class="scheduler-border">Retrait</legend>-->
<!--                    <div class="px-1 py-2">-->
<!--                        <div class="my-2 row">-->
<!--                            <div class="col-4">-->
<!--                                <label for="withdrawal-street">-->
<!--                                    Rue :-->
<!--                                </label>-->
<!--                            </div>-->
<!--                            <div class="col-8">-->
<!--                                <input-->
<!--                                        type="text"-->
<!--                                        name="withdrawal-street"-->
<!--                                        id="withdrawal-street"-->
<!--                                        th:field="*{withdrawal.street}"-->
<!--                                />-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="my-2 row">-->
<!--                            <div class="col-4">-->
<!--                                <label for="withdrawal-postal-code">-->
<!--                                    Code postal :-->
<!--                                </label>-->
<!--                            </div>-->
<!--                            <div class="col-8">-->
<!--                                <input-->
<!--                                        type="text"-->
<!--                                        name="withdrawal-postal-code"-->
<!--                                        id="withdrawal-postal-code"-->
<!--                                        th:field="*{withdrawal.postalCode}"-->
<!--                                />-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="my-2 row">-->
<!--                            <div class="col-4">-->
<!--                                <label for="withdrawal-city">-->
<!--                                    Ville :-->
<!--                                </label>-->
<!--                            </div>-->
<!--                            <div class="col-8">-->
<!--                                <input-->
<!--                                        type="text"-->
<!--                                        name="withdrawal-city"-->
<!--                                        id="withdrawal-city"-->
<!--                                        th:field="*{withdrawal.city}"-->
<!--                                />-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </fieldset>-->
                <div>
                    <button
                            type="submit"
                            id="submit-create"
                            class="btn btn-primary w-25"
                    >
                        Enregistrer
                    </button>
                    <a th:href="@{/auctions}">
                        <button
                                type="button"
                                id="cancel-create"
                                class="btn btn-danger w-25"
                        >
                            Annuler
                        </button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</main>
</html>
