<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container container-my-profil">
        <div class="row">
            <div class="col-md-12">

                <div class="title">ENI-Enchères</div>
                <div class="content-profil-value">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>Pseudo</td>
                            <td th:text="${user.username}"></td>
                        </tr>
                        <tr>
                            <td>Nom</td>
                            <td th:text="${user.lastName}"></td>
                        </tr>
                        <tr>
                            <td>Prénom</td>
                            <td th:text="${user.firstName}"></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td th:text="${user.email}"></td>
                        </tr>
                        <tr>
                            <td>Téléphone</td>
                            <td th:text="${user.phone}"></td>
                        </tr>
                        <tr>
                            <td>Rue</td>
                            <td th:text="${user.street}"></td>
                        </tr>
                        <tr>
                            <td>Code postal</td>
                            <td th:text="${user.postalCode}"></td>
                        </tr>
                        <tr>
                            <td>Ville</td>
                            <td th:text="${user.city}"></td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="button">Modifier votre profil</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<style>
    .container-my-profil{
        padding-top: 5%;
    }
    .container-my-profil .title{
        font-size: 24px;
    }

    .container-my-profil .content-profil-value{
        display: flex;
        justify-content: center;
    }

    .container-my-profil .table{
        width: 33%;
    }
</style>