<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layouts/layout :: layout(
            pageContent=~{:: .main-content},
            pageTitle=~{:: title},
            additionalCss=~{:: fragment-css}
        )}"
>
    <div th:fragment="fragment-css">
        <link rel="stylesheet" th:href="@{/css/style.css}" />
    </div>

    <title></title>

    <main class="main-content">
        <div class="container container-update-my-profil">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">ENI-Enchères</div>
                    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                        <ul>
                            <li th:text="${errorMessage}"></li>
                        </ul>
                    </div>
                    <div class="content-profil-value">
                        <form id="updateUserForm" th:action="@{/user/update/{userId}(userId=${user.userId})}" method="post">
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3 content-value-form">
                                        <label for="username" class="form-label">Pseudo</label>
                                        <input type="text" class="form-control" id="username" th:field="*{user.username}" th:value="${user.username}">
                                    </div>
                                    <div class="mb-3 content-value-form">
                                        <label for="firstName" class="form-label">Prénom</label>
                                        <input type="text" class="form-control" id="firstName" th:field="*{user.firstName}" th:value="${user.firstName}">
                                    </div>
                                    <div class="mb-3 content-value-form">
                                        <label for="phone" class="form-label">Téléphone</label>
                                        <input type="tel" class="form-control" id="phone" th:field="*{user.phone}" th:value="${user.phone}">
                                    </div>
                                    <div class="mb-3 content-value-form">
                                        <label for="postal_code" class="form-label">Code postal</label>
                                        <input type="text" class="form-control" id="postal_code" th:field="*{user.postalCode}" th:value="${user.postalCode}" pattern="[0-9]{5}" title="Le code postal doit être composé de 5 chiffres">
                                    </div>
                                    <div class="mb-3 content-value-form">
                                        <label for="password" class="form-label">Mot de passe actuel</label>
                                        <input type="password" class="form-control" id="password" th:field="*{user.password}">
                                    </div>
                                    <div class="mb-3 content-value-form">
                                        <label for="newPassword" class="form-label">nouveau mot de passe</label>
                                        <input type="password" class="form-control" id="newPassword" th:field="*{user.newPassword}" >
                                    </div>
                                    <div class="mb-3 content-value-form">
                                        <div>Crédits</div>
                                        <div th:text="${user.credit}"></div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3 content-value-form">
                                        <label for="lastName" class="form-label">Nom</label>
                                        <input type="text" class="form-control" th:field="*{user.lastName}" th:value="${user.lastName}" id="lastName" >
                                    </div>
                                    <div class="mb-3 content-value-form">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="email" th:field="*{user.email}" th:value="${user.email}">
                                    </div>
                                    <div class="mb-3 content-value-form">
                                        <label for="street" class="form-label">Rue</label>
                                        <input type="text" class="form-control" id="street" aria-describedby="roadHelp" th:field="*{user.street}" th:value="${user.street}">
                                    </div>
                                    <div class="mb-3 content-value-form">
                                        <label for="city" class="form-label">Ville</label>
                                        <input type="text" class="form-control" id="city" th:field="*{user.city}" th:value="${user.city}">
                                    </div>
                                    <div class="mb-3 content-value-form confirmation-password-content">
                                        <label for="confirmationPassword" class="form-label">Confirmation</label>
                                        <input type="password" class="form-control" id="confirmationPassword" th:field="*{user.confirmationPassword}">
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                            </div>
                        </form>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto d-flex justify-content-center mt-4">
                        <form th:action="@{/user/delete/{userId}(userId=${user.userId})}" method="post">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ?')">Supprimer mon compte</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</html>