<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layouts/layout :: layout(
            pageContent=~{:: .main-content},
            pageTitle=~{:: title},
            additionalCss=~{}
        )}"
>
<title></title>
<main class="main-content">
    <div class="container container-update-my-profil">
        <div class="row">
            <div class="col-md-12">
                <div class="title">ENI-Enchères</div>
                <div class="content-profil-value">
                    <form id="updateUserForm" method="post">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3 test">
                                    <label for="pseudo" class="form-label">Pseudo</label>
                                    <input type="text" class="form-control" id="pseudo" th:value="${user.username}">
                                </div>
                                <div class="mb-3 test">
                                    <label for="firstName" class="form-label">Prénom</label>
                                    <input type="text" class="form-control" id="firstName" th:value="${user.firstName}">
                                </div>
                                <div class="mb-3 test">
                                    <label for="phone" class="form-label">Téléphone</label>
                                    <input type="email" class="form-control" id="phone" th:value="${user.phone}">
                                </div>
                                <div class="mb-3 test">
                                    <label for="postal_code" class="form-label">Code postal</label>
                                    <input type="email" class="form-control" id="postal_code" th:value="${user.postalCode}">
                                </div>
                                <div class="mb-3 test">
                                    <label for="password" class="form-label">Mot de passe actuel</label>
                                    <input type="password" class="form-control" id="password" th:value="${user.password}">
                                </div>
                                <div class="mb-3 test">
                                    <label for="newPassword" class="form-label">nouveau mot de passe</label>
                                    <input type="password" class="form-control" id="newPassword" th:value="${user.password}">
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3 test">
                                    <label for="lastName" class="form-label">Nom</label>
                                    <input type="text" class="form-control" th:value="${user.lastName}" id="lastName" >
                                </div>
                                <div class="mb-3 test">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" th:value="${user.email}">
                                </div>

                                <div class="mb-3 test">
                                    <label for="street" class="form-label">Rue</label>
                                    <input type="text" class="form-control" id="street" aria-describedby="roadHelp" th:value="${user.street}">
                                </div>
                                <div class="mb-3 test">
                                    <label for="city" class="form-label">Ville</label>
                                    <input type="text" class="form-control" id="city" th:value="${user.city}">
                                </div>
                                <div class="mb-3 test">
                                </div>
                                <div class="mb-3 test">
                                    <label for="confirmationPassword" class="form-label">Confirmation</label>
                                    <input type="password" class="form-control" id="confirmationPassword" th:value="${user.password}">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a type="button" th:href="@{/user/update/{userId}(userId=${user.userId})}" class="btn btn-primary">Submit</a>
                </div>
            </div>
        </div>
    </div>
</main>
</html>

<style>
    .container-update-my-profil{
        padding-top: 5%;
    }
    .container-update-my-profil .title{
        font-size: 24px;
    }

    .container-update-my-profil .content-profil-value{
        display: flex;
        justify-content: center;
    }

    .container-update-my-profil .test {
        display: flex;
        align-items: flex-end;
        column-gap: 20px;
    }
</style>