<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layouts/layout :: layout(
            pageContent=~{:: .main-content},
            pageTitle=~{:: title},
            additionalCss=~{}
        )}"
>
<title></title>
<main class="main-content">
<div class="container container-visit-profil">
    <div class="row">
        <div class="col-md-12">

            <div class="title">ENI-Enchères</div>
            <div class="content-profil-value">
                <table class="table table-borderless">
                    <tbody>
                    <tr>
                        <td>Pseudo</td>
                        <td>test</td>
                    </tr>
                    <tr>
                        <td>Nom</td>
                        <td>test</td>
                    </tr>
                    <tr>
                        <td>Prénom</td>
                        <td>test</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>test</td>
                    </tr>
                    <tr>
                        <td>Téléphone</td>
                        <td>test</td>
                    </tr>
                    <tr>
                        <td>Rue</td>
                        <td>test</td>
                    </tr>
                    <tr>
                        <td>Code postal</td>
                        <td>test</td>
                    </tr>
                    <tr>
                        <td>Ville</td>
                        <td>test</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</main>
</html>

<style>
    .container-visit-profil{
        padding-top: 5%;
    }
    .container-visit-profil .title{
        font-size: 24px;
    }

    .container-visit-profil .content-profil-value{
        display: flex;
        justify-content: center;
    }

    .container-visit-profil .table{
        width: 33%;
    }
</style>